h2 {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
img {
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -2;
}
h1 {
  text-shadow: 0 0 4px #000000, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
  color: white;
}
h3 {
  text-decoration: overline;
  text-shadow: 0 0 3px #ff0000, 0 0 20px blue, 0 0 5px lightblue;
  font-size: xx-large;
  align-items: inherit;
  text-align: center;
}
